body {
  margin: 0;
  
  background-color: #FFE4CE;




}

header {

  background-color: #03a9f4;

}


.logo-header {
  width: 90px;
  margin: 18px;

}

.banner {
  height: auto;
  max-width: 100%;
  aspect-ratio: 5 / 1;
  object-fit: cover;

}

.foodheader {
  height: auto;
  max-width: 100%;
  aspect-ratio: 5 / 1;
  object-fit: cover;
  margin-top: 5px;

}


.content {
  width: calc(100% - 300px);
  padding: 16px;


}

.content-wrapper {

  display: flex;



}


.basket-wrapper {
  width: 300px;
  flex-grow: 1;
  padding: 16px;
  border-style: solid;
  border-color: #03a9f4;
  
  margin-right: 15px;


}

.basket {
  width: 100%;
  height: 400px;
  color: black;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  position: sticky;
  top: 0;
  



}



h2 {
  color: black;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: bold;
  display: flex;
  text-align: center;




}

h3 {

  color: black;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: bold;
  display: flex;
  text-align: center;
  padding-left: 10px;


}


p {
  color: black;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: unset;
  font-size: 25px;
  text-align: center;


}

hr{
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3px;
 
  background-color: #03a9f4;
}



.main_dishes_section {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;
}

.dessert_dishes_section {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

}


.drink_dishes_section {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

}

table {

  padding: 10px 15px;
  border-radius: 10px;
  border-style: solid;
  border-color: #03a9f4;

}


th {
  color: black;
  font-family: "Nanum Gothic Coding", monospace;
  
}

td {
  color: black;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
}

tr {
  display: flex;
  justify-content: space-between;
}


.img-dishes {

  width: 120px;

}

.menutext {
  color: white;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-size: 15px;

}

.menuspace {
  margin: 10px;
  text-align: left;

}

.dessert-img {
  height: auto;
  max-width: 100%;
  aspect-ratio: 5 / 1;
  object-fit: cover;
}

.mealrating {
  color: #03a9f4;
  padding-left: 10px;
}

