.btn {
    background-color: transparent;
    background-image: url("../assets/img/Icons/add-button.png");
    border: none;
    width: 24px;
    padding: 12px;

    cursor: pointer;
    background-size: cover;
    background-position: center;
    text-align: start;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

button:active {
    transform: scale(0.95);
}

.deletbutton {
    background-color: transparent;
    background-image: url("../assets/img/Icons/delete-button.png");
    border: none;
    width: 24px;
    padding: 12px;

    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.dropbtn {
    background-color: transparent;
    color: #03a9f4;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.basketpay {

    background-color: #03a9f4;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 700;
    font-style: normal;
    color: white;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;

}

.Amountbuttons{
    background-color: #03a9f4;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.close-overlay-btn {
    display: none; 
}

.responsive-basket-btn{
    display: none;
}