@media (max-width: 768px) {


    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .basket-wrapper {
        display: none;
    }


    .basket-wrapper.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFE4CE;
        z-index: 101;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;

    }

    .basket {
        margin: 0%;
    }


    .close-overlay-btn {
        display: grid;
        justify-content: flex-end;
        background-color: #03a9f4;
        color: white;
        border: none;
        font-family: "Nanum Gothic Coding", monospace;
        font-weight: 900;
        font-style: normal;
        padding: 10px 15px;
        border-radius: 10px;
        margin-top:15px ;
        margin-bottom: 15px;
        margin-left: 80%;
        cursor: pointer;



    }

    .responsive-basket-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }


    .responsive-basket-btn.hidden {
        display: none;
    }

    .th {
        font-family: "Nanum Gothic Coding", monospace;
        font-weight: 300;
        font-style: normal;
        color: black;



    }

   
    .td{
        text-align: match-parent;
    }
    
    .content{
        width: auto;
    }
 
    .card{
        display: none;
    }

}