
@media (max-width: 768px) {
    

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .basket-wrapper {
        display: none; 
    }

   
    .basket-wrapper.active {
        display: block; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFE4CE;
        z-index: 101; 
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    
    .responsive-basket-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    
    .responsive-basket-btn.hidden {
        display: none;
    }
}